@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import url('https://fonts.googleapis.com/css?family=Nunito')
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

// Global
$std-font: 'Montserrat', 'Nunito', sans-serif
$alt-font: 'Nunito', 'Roboto'

// Background 
$bg-color: #272226
$darker-bg-color: darken($bg-color, 3%)

// Navbar
$nav-text: #f1f0ea
$nav-text-hover: #2D81A8
$nav-btn: #2D81A8

// Auth 
$auth-bg: #f1f0ea
$auth-user-displayer-border: #2D81A8
$auth-bright-text: #F2F1F2
$auth-dark-text: #363035
$auth-btn: #2D81A8
$auth-title: #2D81A8

// Welcome
$welcome-title: #f1f0ea
$welcome-text: #d7d3c1
$welcome-button: #2D81A8
$welcome-button-hover: lighten(#2D81A8, 10%)
$welcome-divisor: rgba(#2D81A8, .3)

// Welcome Games
$w-games-title: #f1f0ea

// Scores 
$scores-dark-text: #363035
$scores-bright-text: #f1f0ea
$scores-alt-text: #2D81A8
$scores-title-box: #f1f0ea
$scores-games-bg: #f1f0ea

// Score
$score-bright-text: #f1f0ea
$score-dark-text: #363035
$score-bright-bg: #f1f0ea

// About Us
$about-border-color: rgba(#2D81A8, .2)
$about-bright-text: #f1f0ea

// Footer
$footer-bright-color: #f1f0ea
$footer-bg-color: darken($bg-color, 5%)
$footer-social-media-bg: #d7d3c1

// Upload
$upload-border: #f1f0ea
$upload-bright-text: #f1f0ea
$upload-dark-text: #363035
$upload-title: #2D81A8
$upload-bg: #f1f0ea
$upload-alt-border: #2D81A8
$upload-alt-color: #4FA7D0