@import 'variables'

.score
    display: flex
    gap: 2.12rem
    align-items: center
    font-family: $std-font
    color: $score-bright-text
    padding: 2.3vh 0

    &_position
        display: flex
        justify-content: center
        align-items: center
        font-weight: 500
        font-family: $std-font
        font-size: 1.48em
        border-radius: 50%
        width: 2.14rem
        aspect-ratio: 1 / 1
        border: .02rem solid $score-bright-text

    &_info
        display: flex
        gap: 1.38rem
        align-items: center

        &_profile
            position: relative
            width: 3.12rem
            aspect-ratio: 1 / 1

            img 
                border-radius: 50%

        &_names
            display: flex
            flex-direction: column

            span
                font-size: 1.13em

            small
                font-size: .82em
                color: darken($score-bright-text, 20%) 

        &_score
            font-family: $std-font
            font-weight: 600
            font-size: 1.28em
            padding: 0 1.48rem 